html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
p,
ul,
h4 {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* This is the nav styling */
.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  align-content: center;
  margin-top: 20px;
}

nav p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

/* This is the header styling */

.header-section {
  background-image: url("images/header_background.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: #172b4d;
  min-height: 80vh;
  justify-content: space-around;
}

.header-section h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 30px 10px;
  animation: writer 4s forwards;
  margin: 0 auto;
}

@keyframes writer {
  0% {
    transform: translateX(-250px);
  }

  100% {
    transform: translateX(0);
  }
}

.header-span {
  color: #36b37f;
}

.header-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #172b4d;
  padding: 0 10px;
}

/* This is the styling for the social icons */

.social {
  z-index: 1;
}

.social-icons {
  display: inline-block;
  padding: 10px;
}

.social-icons:hover {
  color: aqua;
}

.scroll-button {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* The header for my recent works */

.top-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
}

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

hr {
  background-color: #36b37e;
  border-radius: 24px;
  width: 48px;
  height: 4px;
}

/* The main card container */

.card-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  row-gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
  padding-top: 150px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 5% 5% 0;
  flex-wrap: wrap;
}

.bottom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: #fff;
}

.card h4 {
  font-size: 20px;
  text-align: center;
}

ul {
  margin: 5% 0 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
}

li {
  text-decoration-style: none;
  padding: 8px;
  color: #3a4a42;
  background-color: #ebf0ee;
  flex-wrap: wrap;
  margin: 0 5px;
}

.card-button {
  background-color: #36b37f;
  border-radius: 4px;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-top: 5%;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  border-style: none;
  letter-spacing: 0.03em;
}

/* This is the about us section */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin-top: 10%;
  position: relative;
}

.about h1 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.about p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: 5%;
}

.about-up {
  position: absolute;
  right: 10px;
  top: -50px;
}

.about-down {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* This is the language, frameworks sections */

.sub-language-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin: 5% 5% 0;
}

.sub-language-card img {
  /* margin-bottom: 50px; */
  margin-top: 40px;
  transition: transform 1s ease-in;
}

.card-img:hover {
  transform: rotateY(360deg);
}

.sub-language-card h4 {
  /* margin-bottom: 20px; */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.sub-language-card ul,
.social {
  margin: 5% 0 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.second-card-list li {
  text-decoration-style: none;
  padding: 8px 12px;
  color: #36b37e;
  background-color: white;
  margin: 0 10px;
  border-radius: 8px;
}

.get-in-touch {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 5% 5% 0;
  text-align: center;
  color: #172b4d;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 5% 5% 0;
}

input,
textarea {
  width: 100%;
  padding: 20px 10px;
  margin-top: 20px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  color: #6b778c;
}

.btn-div {
  text-align: center;
}

.form-button {
  background-color: #36b37f;
  border-radius: 4px;
  max-width: 45%;
  padding: 12px;
  margin: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: 500;
  transition: margin-right 2s;
}

.form-section {
  position: relative;
}

.right-contact-img,
.middle-contact-img,
.left-contact-img,
.desktop-about-up,
.desktop-about-down,
.sticky-header {
  display: none;
}

.contact-image {
  position: absolute;
  right: 0;
  bottom: 70px;
  margin: 0;
}

.email-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  text-align: center;
}

textarea {
  resize: vertical;
  border: 1px solid #60c095;
  border-radius: 4px;
}

textarea:hover {
  border-radius: green;
}

.footer {
  visibility: hidden;
}

button {
  /* transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s; */
  transition: all 0.3s;
}

button:hover {
  background-color: #172b4d;
  transform: translateY(2px);
}

button:active {
  background-color: #ff6163;
}

.form-button:active {
  background-color: #ff6163;
}

.form-button:hover {
  background-color: #1e488f;
}

@media screen and (min-width: 768px) {
  header {
    top: 0;
    position: sticky;
    background: rgb(248, 249, 248, 0.3);
    z-index: 1;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .desktop-nav a {
    padding: 10px 20px;
    text-decoration: none;
  }

  a:link {
    color: #36b37f;
  }

  a:hover {
    color: hotpink;
  }

  .desktop-header {
    background-image: url("images/Header-llustration-desktop.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    min-height: 110vh;
  }

  .header-section {
    position: relative;
    min-height: 80vh;
    background: none;
    padding: 0 21%;
    margin-top: 5%;
    justify-content: start;
    order: 1;
  }

  .header-section h1 {
    font-size: 48px;
  }

  .header-section p {
    font-size: 20px;
  }

  .scroll-button {
    margin-top: 100px;
  }

  /* this is the work container */

  .top-tile {
    margin: 10% 0 0;
  }

  .card-container,
  .language-card {
    display: grid;
    grid-template-columns: 22% 22% 22%;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 5px;
    margin-top: 3%;
  }

  .card,
  .sub-language-card {
    margin: 5% 20px 0;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
  }

  @keyframes slide {
    0% {
      transform: translateY(-150px);
    }

    100% {
      left: 0;
    }
  }

  /* .card-container,
  .language-card {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    justify-content: center;
  } */

  /* This is the about section */

  .about {
    margin-top: 5%;
    padding: 0 21%;
    position: relative;
  }

  .desktop-about-up {
    display: block;
    position: absolute;
    right: 0;
    bottom: 100px;
  }

  .desktop-about-down {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .form {
    align-items: flex-start;
  }

  .btn-div {
    text-align: left;
  }

  .form-button {
    max-width: 20%;
  }

  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .right-contact-img {
    position: absolute;
    right: 0;
    display: block;
    visibility: visible;
    bottom: -5%;
  }

  .middle-contact-img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 200px;
  }

  .left-contact-img {
    position: absolute;
    display: block;
    visibility: visible;
    bottom: -90px;
    left: 0;
  }

  .get-in-touch-div {
    width: 33%;
  }

  .get-in-touch {
    font-size: 30px;
  }

  .form-input {
    flex-grow: 60%;
  }

  .social-mobile,
  .contact-image,
  .email-contact,
  .about-down,
  .about-up {
    display: none;
  }

  .footer {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .footer-rule {
    background-color: #fff;
    width: 100%;
  }
}
