html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
p,
ul,
h4 {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* This is the nav styling */
.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  align-content: center;
  margin-top: 20px;
}

nav p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

/* This is the header styling */

.header-section {
  background-image: url("images/header_background.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: #172b4d;
  min-height: 80vh;
  justify-content: space-around;
}

.header-section h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  color: #172b4d;
}

.header-span {
  color: #36b37f;
}

.header-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #172b4d;
}

/* This is the styling for the social icons */

.social-icons {
  display: inline-block;
  padding: 10px;
}

.social-icons:hover {
  color: aqua;
}

.scroll-button {
  color: green;
}

/* The header for my recent works */

.top-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
}

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

hr {
  background-color: #36b37e;
  border-radius: 24px;
  width: 48px;
  height: 4px;
}

/* The main card container */

.card-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  row-gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
  padding-top: 200px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 5% 5% 0;
  flex-wrap: wrap;
}

.bottom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: #fff;
}

.card h4 {
  font-size: 24px;
  text-align: center;
}

ul {
  margin: 5% 0 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
}

li {
  text-decoration-style: none;
  padding: 8px;
  color: #3a4a42;
  background-color: #ebf0ee;
  flex-wrap: wrap;
  margin: 0 5px;
}

.card-button {
  background-color: #36b37f;
  border-radius: 4px;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-top: 5%;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  border-style: none;
  letter-spacing: 0.03em;
}

/* This is the about us section */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin-top: 10%;
  position: relative;
}

.about h1 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.about p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: 5%;
}

.about-up {
  position: absolute;
  right: 10px;
  top: -50px;
}

.about-down {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* This is the language, frameworks sections */

.sub-language-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
  padding: 50px 0 70px;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin: 5% 5% 0;
}

.sub-language-card img {
  margin-bottom: 50px;
}

.sub-language-card h4 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.sub-language-card ul,
.social {
  margin: 5% 0 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.second-card-list li {
  text-decoration-style: none;
  padding: 8px 12px;
  color: #36b37e;
  background-color: white;
  margin: 0 10px;
  border-radius: 8px;
}

.get-in-touch {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 5% 5% 0;
  text-align: center;
  color: #172b4d;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 5% 5% 0;
}

input,
textarea {
  width: 100%;
  padding: 20px 10px;
  margin-top: 20px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  color: #6b778c;
}

/* .form-input {
  width: 100%;
  text-align: center;
} */

.btn-div {
  text-align: center;
}

.form-button {
  background-color: #36b37f;
  border-radius: 4px;
  max-width: 45%;
  padding: 12px;
  margin: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.form-section {
  position: relative;
}
.right-contact-img,
.middle-contact-img,
.left-contact-img,
.desktop-about-up,
.desktop-about-down,
.sticky-header {
  display: none;
}

.contact-image {
  position: absolute;
  right: 0;
  bottom: 70px;
  margin: 0;
}

.email-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  text-align: center;
}

textarea {
  resize: vertical;
  border: 1px solid #60c095;
  border-radius: 4px;
}

textarea:hover {
  border-radius: green;
}

.footer {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .sticky-header {
    display: block;
    position: sticky;
    background: rgb(248, 249, 248, 0.3);
    top: 0;
    offset: 100px;
  }

  .desktop-nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .desktop-nav a {
    padding: 10px 20px;
    text-decoration: none;
  }

  .desktop-header {
    background-image: url("images/Header-llustration-desktop.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    min-height: 150vh;
  }

  .header-section {
    position: relative;
    min-height: 80vh;
    background: none;
    padding: 0 21%;
    margin-top: 5%;
    order: 1;
  }

  /* this is the work container */

  .top-tile {
    margin: 10% 0 0;
  }

  .card-container {
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto;
    justify-content: center;
  }

  .card-container,
  .language-card {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
  }

  /* This is the about section */

  .about {
    margin-top: 5%;
    padding: 0 21%;
    position: relative;
  }

  .desktop-about-up {
    display: block;
    position: absolute;
    right: 0;
    bottom: 100px;
  }

  .desktop-about-down {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .card,
  .sub-language-card {
    width: 30%;
    margin: 5% 20px 0;
  }

  .form {
    align-items: flex-start;
  }

  .btn-div {
    text-align: left;
  }

  .form-button {
    max-width: 20%;
  }

  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .right-contact-img {
    position: absolute;
    right: 0;
    display: block;
    visibility: visible;
    bottom: -5%;
  }

  .middle-contact-img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 200px;
  }

  .left-contact-img {
    position: absolute;
    display: block;
    visibility: visible;
    bottom: -90px;
    left: 0;
  }

  .get-in-touch-div {
    width: 33%;
  }

  .get-in-touch {
    font-size: 30px;
  }

  .form-input {
    flex-grow: 60%;
  }

  .social-mobile,
  .contact-image,
  .email-contact,
  .about-down,
  .about-up {
    display: none;
  }

  .footer {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .footer-rule {
    background-color: #fff;
    width: 100%;
  }
}
